Flask==1.0.2
keras==2.2.4
keras-metrics==0.0.3
librosa==0.6.2
lime==0.1.1.32
matplotlib==2.2.2
numpy==1.22.0
pandas==0.23.2
plotly==3.3.0
scikit_learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
tensorflow==1.8.0
Werkzeug==0.15.3
h5py==2.10.0
