<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~niemamnie/150.embed"
        height="525" width="100%"></iframe>
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~niemamnie/148.embed"
        height="525" width="100%"></iframe>
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~niemamnie/152.embed"
        height="525" width="100%"></iframe>
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~niemamnie/130.embed"
        height="525" width="100%"></iframe>